body {
  margin: 0;
  padding: 0;
  background: url(./img/Fondo\ Ciudad.jpg) no-repeat center top; 
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.conten::before {  
  content:"";
  width: 100%;
  height: 400%;
  background-color:#ffffff59;
         }

.login_Developer {
  width: 380px;
  height: 100px;
  background: rgba(0, 0, 0, 0.719); 
  color: #fff;
  top: 14%;
  left: 149%;
  position: absolute;
  transform: translate(-150%, -60%);
  box-sizing:border-box;
  padding: 70px 675px;
  


}
.login_Developer .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: calc(30% - 50px);


}







