
.container{
    max-width: 600px !important;   
    max-height: 100%;
}
.container2
{
border-radius: 1%;
margin: 2%;
display: flex;
justify-content: space-around;
flex-direction: row;
width: 100vh;
max-width: 60vh;
}
.container>.container{
    background-color: rgba(255, 255, 255, 0);
}
.classVentas{
    display: flex;   
    max-height: 85vh;
    padding-top: 17vh;
    margin-bottom: 10%;
    justify-content: space-around;
} 
.container2 label{
    margin-top: 1rem;
    color: rgb(253, 253, 253);
}
.container2 h4{
    margin-top: 1rem;
    color: rgb(253, 253, 253);
}
.container3{

padding: 2%;
display: flex;
flex-direction: column;
justify-content: center;

}
.container3 .container{
    border-radius: 10%;
    padding: 10%;
    background-color:  rgba(0, 0, 0, 0.5);
}
.btn-success     {
    color:black !important;
    margin: 1%;
    margin-bottom: 2%;
    margin-right: 3%;
    width: 15vw;
    max-width:80px ;
}
.end {
    display: flex;
    justify-content: flex-end;
}
.classVentas>.container{
    margin-left: 8%;
    margin-right: 8%;
}