.login_Developer {
  width: 32%;
  height: 70%;
  background: rgba(0, 0, 0, 0.363); 
  color: #fff;
  top: 53%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing:border-box;
  padding: 2% 3%;
  border-radius: 5%;

}

.login_Developer h1 {
  margin: 0;
  padding: 0 0 10%;
  text-align: center;
  font-size: 20px;
  color:#57ee32
}

.login_Developer label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 100%;
  display: block;
}

.login_Developer input {
  width: 100%;
  margin-bottom: 7%;
}

.login_Developer input[type="text"],
.login_Developer input[type="password"]{

  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 90%;
}

#ingresar {

  background: rgb(64, 255, 47) ;
  border-radius: 20px;
  border: outset 1px #ccc;
  width: 200px;
  height: 30px;
  font-size: 89%;
  cursor: pointer;

}
.botones button[type="submit"]:hover, 
.botones button[type="Google"]:hover{
  border: inset 1px #ccc;
}

button[type="Google"] {

  background: rgb(233, 235, 233) ;
  border-radius: 20px;
  border: outset 1px greenyellow;
  width: 200px;
  height: 30px;
  font-size: 80%;
  cursor: pointer;
   
}

.login_Developer a {
  text-decoration: none;
  font-size: 70%;
  line-height: 20px;
  color: rgb(250, 249, 249);
}

.login_Developer a:hover {
  color: #fff
}

.foot-lnk{
	text-align:center;
  margin-top: 15px;
   
}

.login_Developer span {
  margin-left: 70px;
  font-size: 70%;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

.botones {
  display: flex;
  flex-direction: column;
  padding-left: 13%;
  margin-top: 0;
      
}
