@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  margin: 0;
  padding: 0;
  background: url(../img/Fondo\ Ciudad.jpg) no-repeat center top; 
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  font-family: sans-serif;
  height: 100%;
  

}
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 680px;
}
.avatar {
  margin: 6%;
  width: 13vh;
  height: 13vh;
  border-radius: 50%;

}
.header2{
  display: flex;
  flex-direction: row;
  justify-content:center;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.363);
  min-width: 680px;
}
header{
  margin-top: -72px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  min-width: 680px;
}
header >li{
  list-style: none;
}
footer
{
  background-color:rgba(0, 0, 0, 0.363);
  height: 10vh;
  color:#FFF;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}


p{
  color: #fff;
  text-align: center;
  
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:flex;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}

.menuCSS3 ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menuCSS3 a {
  display: block;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.363);
  text-decoration: none;
  color: #f6f7fa;

}
nav{
  float: right;
  margin-top: 0;
  margin-right: 1%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.menuCSS3 a:hover {
  background-color: #57ee32;
}

.menuCSS3 ul li ul {
  display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
  display: block;
}
/* ******DESDE ACA SE EMPIEZA EL NUEVO CODIGO*********** */
/* COLORES PARA TRABAJAR: NEGRO-VERDE FLUORESCENTE-BLANCO:LETRA */
.page >main{
  height: 100% ;
}
.fill{
  width: 22%;
}
.fill2{
  width: 10%;
}

.page_general{
  background-color: rgba(0, 0, 0, 0.363);
  height:90%;
  width: 80%;
  margin-top: 2%;
 
  border-radius: 1%;
  padding: 1%;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  margin-top: 5vh !important;
}