.contenedor2{
   
    background: rgba(0, 0, 0, 0.363);
    color: #fff;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 17%;
    position:relative;
    box-sizing: border-box;
    padding: 1% 1%;
    border-radius: 10px;
    font-family: sans-serif;

}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
    margin-top: 2%;
    padding: auto;
    width: 70vw;
    text-align: center;
}

h4{
    text-align: center;
    color: #57ee32;
    margin-bottom: 0;
}

.buscar{
    padding-left: 75%;
  
}