body {
  margin: 0;
  padding: 0;
  background: url(./img/Fondo\ Ciudad.jpg) no-repeat center top; 
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login_Developer {
  width: 380px;
  height: 400px;
  background: rgba(7, 7, 7, 0.726); 
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing:border-box;
  padding: 50px 30px;
  border-radius: 15px;

}
.login_Developer .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);

}

.login_Developer h1 {
  margin: 0;
  padding: 0 0 35px;
  text-align: center;
  font-size: 20px;


}

.login_Developer label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  display: block;
}

.login_Developer input {

  width: 100%;
  margin-bottom: 20px;
}

.login_Developer input[type="text"],
.login_Developer input[type="password"]{

  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 15px;
}

button[type="submit"] {

  background: rgb(64, 255, 47) ;
  border-radius: 20px;
  border: outset 1px #ccc;
  width: 200px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;

}
.botones button[type="submit"]:hover, 
.botones button[type="Google"]:hover{
  border: inset 1px #ccc;
}

button[type="Google"] {

  background: rgb(233, 235, 233) ;
  border-radius: 20px;
  border: outset 1px greenyellow;
  width: 200px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
   
}

.login_Developer a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.login_Developer a:hover {
  color: #fff
}

.foot-lnk{
	text-align:center;
  margin-top: 15px;
   
}

.login_Developer span {
  margin-left: 70px;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

.botones {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding-left: 55px;
 
}

